<div class="container">
  <div class="row row-cols-2 mt-3">

    <div class="card col card_control" style="width: 18rem;">
      <% if @pack.image.attached? %>
        <%= image_tag url_for(@pack.image), class: "card-img-top img-fluid" %> <hr>
      <%else%>
        <%= "이미지 없음" %> <hr>
      <%end%>
    </div>

    <div class="col">
      <h3 class="card-title"><%=@pack.product_name%></h3>
      <h4>가격</h4> 
      <p class="card-text"><%=@pack.price%></p>
      <h4>제품 설명</h4>
      <p class="card-text"><%=@pack.desc%></p>
    </div>

  </div>
</div>